html{
   background: #0A0A0A; 
   /* background: #313647; */
}

body{
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    animation: animated 2s ease infinite 0.5s;
    /* background: #0A0A0A; */
    /* background: linear-gradient(to bottom right, #0A0A0A, #000, #0A0A0A,  #9412ad 5%, #000, #0A0A0A, #000, #0A0A0A, #ee1d1d 5%, #0A0A0A, #0A0A0A, #000);*/
} 

h4{
    text-decoration: underline;
}



p{
    font-size: 18px;
    line-height: 20px;
}

/* header element */
header{
    background: #000;
    padding: 20px; 
    text-align: center; 
    margin-left: 20vw;
}

nav a{
    font-size: 1.2em;
    color: #fff;
    position: relative;
    left: 20vw;
    border: 1px solid #fff;
    padding: 5px;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

nav a:hover{
    border: 1px solid #fff;
    text-decoration: none;
}

nav a:hover{
    color: #fff;
}

/* article element */
article{
    background-color: #0A0A0A;
    border: none;
    color: #fff;
    width: 75vw;
    height: 40vh;
    transition: all 0.3s ease;
}

article:hover{
transform: scale(1.04, 1.15);
margin-left:0;
}

article h3{
    font-weight: bolder;
}

article h3:hover{
    text-decoration: underline;
}


/* table or skills element */
#skils{
    background-color: #000;
    color: #fff;
    width: 75vw;
    height: 40vh;
    transition: all 0.3s ease;
}

#skills:hover{
/* transform: scale(1.04, 1.15); */
margin-left:0;
}


#skills h3{
    color: #fff;
    font-weight: bolder;
}

#skills h3:hover{
    text-decoration: underline;
}

thead{
    color: #fff;
}

tbody:nth-child(odd){
    color: #ffffff;
}

tbody:nth-child(even){
    background-color: #f2f2f2;
}

tbody:nth-child(even):hover{
    background-color: #0A0A0A;
    color: #fff;
    
}

tbody:nth-child(odd):hover{
    background-color: #f2f2f2;
    color: #0A0A0A;
}

/* revamped skills to display circular graphs */
#skills {
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

#skills div{
    margin: 1rem;
    padding: 1.5rem 3em;
    text-align: center;
    border-radius: 150px;
}

#skill h4{
    display: flex;
    flex-direction: column;
    
}

.skill {
  width: 100px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: white;
  background:
    conic-gradient(var(--color) var(--percent), #fff 0);
  position: relative;
}

/* inner circle (to create ring effect) */
.skill::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  background: #000; /* your background */
  border-color: #000;
  border-radius: 50%;

}

.skill p{
    font-weight: bold;
}

.skill p,
.skill h4 {
  position: relative;
  z-index: 1;
}



/* html */
/* #skills div:nth-child(1){
    border: 10px solid rgb(87, 241, 87);
    border-right: 10px solid #fff;
} */

/* css */
/* #skills div:nth-child(2){
    border: 10px solid rgb(87, 136, 241);
    border-right: 10px solid #fff;
} */

/* javascript */
/* #skills div:nth-child(3){
    border: 10px solid rgb(209, 191, 32);
    border-right:  10px solid #fff;
    border-top: 10px solid #fff;
} */

/* reactjs */
/* #skills div:nth-child(4){
    border: 10px solid rgb(231, 96, 18);
    border-bottom:  10px solid #fff;
} */

/* git/ github */
/* #skills div:nth-child(5){
    padding: 1.5rem 3.5em;
    border: 10px solid rgb(248, 38, 56);
    border-right:  10px solid #fff;
} */

/* form element */
#contact-nav{
    position: relative;
    left: 0;
    margin: 0;
    background: #000;
    padding: 20px; 
    text-align: center;
}

#contact-nav nav{
    font-size: 1.2em;
    color: #fff;
    position: relative;
    left: 15vw;
    border: 1px solid #fff;
    padding: 5px;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

form{
    position: relative;
    top: 1rem;
    margin: 20px auto;
    color: #fff;
    width: 75vw;
    /* transition: all 0.3s ease; */
}


/* form:hover{
transform: scale(1.05, 1);
margin-left:0;
} */ 

/* form fieldset{
    background-color: #0A0A0A;
} */

form h3{
    font-weight: bolder;
}

form h3:hover{
    text-decoration: underline;
}

input, textarea, select{
    background: #0A0A0A;
    opacity: 0.8;
    color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    font-size: 1em;
    box-sizing: border-box;
    
    
}

#submit{
    background-color: #fff;
    color: #000;
}

#submit:hover{
    background-color: #0A0A0A;
    color: #fff;
    font-weight: bold;
}



/* aside element */
a{
    text-decoration: none;
    color: black;
}

#about-me h2 a{
    color: #fff;
    font-weight: bolder;
}

#about-me img{
    max-width: 200px;
    max-height: 200px;
    width: 20%;
    border-radius: 250px;
    object-fit: cover;
    margin: 30px;
}

 #contact-details h3{
    font-weight: bolder;
}

#contact-details, h3, span, a{
    color: #fff;
    line-height: 1.5rem;
    margin-left: 3px;
}

/* email icon */
span a #email-icon{
display: inline-flex;
}

#email-icon{
    width: 42px;
    height: auto; 
    justify-content: center;
    align-items: bottom;
    
}



#contact-details h3, a:hover{
    text-decoration: underline;
}

#contact-details a:hover{
    text-decoration: underline;
}

#contact-details a:hover{
    color: #fff;
}

/* project-one-images container */
#project-one-images{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 2rem;
}

#project-one-images img{
 width: 35vw;
}

#project-one-images img:hover{
 width: 75vw;
 z-index: 1;
 height: 85vh;
}

#project-one-images:nth-child(2) img:hover{
width: 78vw;
position: absolute;
top: 120vh;
left: 21vw;
z-index: 2;
height: 100vh;
}

#project-one-images:has(img:hover) .cancel-project {
    display: block;
    z-index: 4;
    position: absolute;
    top: 125vh;
    left: 92vw;
    color: #fff;
    background: #9412ad;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px 15px;
}



/* project-two-images container */
#project-two-images{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 2rem;
}

#project-two-images img{
 width: 35vw;
}

#project-two-images img:hover{
 width: 75vw;
 z-index: 1;
 height: 85vh;
}

#project-two-images:nth-child(2) img:hover{
transition: scale(1, 1);
width: 78vw;
position: absolute;
top: 192vh;
left: 21vw;
z-index: 3;
height: 100vh;
}

.cancel-project{
    display: none;
}


/* access cancel button once you hover over project card */
#project-two-images:has(img:hover) .cancel-project {
    display: block;
    z-index: 4;
    position: absolute;
    top: 198vh;
    left: 92vw;
    color: #000;
    background: #fff;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px 15px;
}


#project-two-images img:hover{
 width: 85vw;
}

.tech-stack{
    display: inline-flex;
}

.live-link{
    display: inline-flex;
}

/* .tech-stack, .live-link{
    display: flex;
} */


/* footer element */
footer{
    padding: 10px 0; 
    position: relative; 
    bottom: 0; 
    width: 82%; 
    margin-left: 19vw;
}

#contact-footer{
    position: relative;
    left: -10rem;
    bottom: 0;
    width: 100vw;
    margin-top: 2rem;
}

/* @media (max-width: 480px){
    aside{
        display: none;
    }
} */