html{
   background: #0A0A0A; 
}

body{
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    animation: animated 2s ease infinite 0.5s;
    /* background: #0A0A0A; */
    /* background: linear-gradient(to bottom right, #0A0A0A, #000, #0A0A0A,  #9412ad 5%, #000, #0A0A0A, #000, #0A0A0A, #ee1d1d 5%, #0A0A0A, #0A0A0A, #000);*/
} 


@keyframes animated{
0%{
    background: #0A0A0A;
}
50%{
    background: linear-gradient(to bottom right, #0A0A0A, #000, #0A0A0A,  #9412ad 5%, #000, #0A0A0A, #000, #0A0A0A, #DC143C 5%, #0A0A0A, #0A0A0A, #DC143C);
}
}

/* header element */
header{
    background: #000;
    padding: 20px; 
    text-align: center; 
    margin-left: 20vw;
}

nav a{
    font-size: 1.2em;
    color: #fff;
    position: relative;
    left: 20vw;
    border: 1px solid #fff;
    padding: 5px;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

nav a:hover{
    border: 1px solid #fff;
    text-decoration: none;
}

nav a:hover{
    color: #fff;
}

/* article element */
article{
    background-color: #0A0A0A;
    border: none;
    color: #fff;
    width: 75vw;
    height: 40vh;
    transition: all 0.3s ease;
}

article:hover{
transform: scale(1.05, 1.15);
margin-left:0;
}

article h3{
    font-weight: bolder;
}

article h3:hover{
    text-decoration: underline;
}


/* table or skills element */
#skils{
    background-color: #000;
    color: #fff;
    width: 75vw;
    height: 40vh;
    transition: all 0.3s ease;
}

#skills:hover{
transform: scale(1.02, 1.15);
margin-left:0;
}


#skills h3{
    color: #fff;
    font-weight: bolder;
}

#skills h3:hover{
    text-decoration: underline;
}

thead{
    color: #fff;
}

tbody:nth-child(odd){
    color: #ffffff;
}

tbody:nth-child(even){
    background-color: #f2f2f2;
}

tbody:nth-child(even):hover{
    background-color: #0A0A0A;
    color: #fff;
    
}

tbody:nth-child(odd):hover{
    background-color: #f2f2f2;
    color: #0A0A0A;
}



/* form element */
#contact-nav{
    position: relative;
    left: 0;
    margin: 0;
    background: #000;
    padding: 20px; 
    text-align: center;
}

#contact-nav nav{
    font-size: 1.2em;
    color: #fff;
    position: relative;
    left: 15vw;
    border: 1px solid #fff;
    padding: 5px;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

form{
    position: relative;
    top: 1rem;
    margin: 20px auto;
    color: #fff;
    width: 75vw;
    /* transition: all 0.3s ease; */
}


/* form:hover{
transform: scale(1.05, 1);
margin-left:0;
} */ 

/* form fieldset{
    background-color: #0A0A0A;
} */

form h3{
    font-weight: bolder;
}

form h3:hover{
    text-decoration: underline;
}

input, textarea, select{
    background: #0A0A0A;
    opacity: 0.8;
    color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    font-size: 1em;
    box-sizing: border-box;
    
    
}

#submit{
    background-color: #fff;
    color: #000;
}

#submit:hover{
    background-color: #0A0A0A;
    color: #fff;
    font-weight: bold;
}



/* aside element */
a{
    text-decoration: none;
    color: black;
}

#about-me h2 a{
    color: #fff;
    font-weight: bolder;
}

#about-me img{
    max-width: 200px;
    max-height: 200px;
    width: 20%;
    border-radius: 250px;
    object-fit: cover;
    margin: 30px;
}

 #contact-details h3{
    font-weight: bolder;
}

#contact-details, h3, span, a{
    color: #fff;
    line-height: 1.5rem;
    margin-left: 3px;
}

#contact-details h3, a:hover{
    text-decoration: underline;
}

#contact-details a:hover{
    text-decoration: underline;
}

#contact-details a:hover{
    color: #fff;
}

/* project-one-images container */
#project-one-images{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 2rem;
}

#project-one-images img{
 width: 35vw;
}

#project-one-images img:hover{
 width: 75vw;
 z-index: 1;
 height: 85vh;
}

#project-one-images:nth-child(2) img:hover{
width: 75vw;
position: absolute;
top: 115vh;
left: 22vw;
z-index: 2;
height: 95vh;
}

#project-one-images:has(img:hover) .cancel-project {
    display: block;
    z-index: 4;
    position: absolute;
    top: 120vh;
    left: 90vw;
    color: #fff;
    background: #9412ad;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px 15px;
}



/* project-two-images container */
#project-two-images{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 2rem;
}

#project-two-images img{
 width: 35vw;
}

#project-two-images img:hover{
 width: 75vw;
 z-index: 1;
 height: 85vh;
}

#project-two-images:nth-child(2) img:hover{
transition: scale(i, 1);
width: 75vw;
position: absolute;
top: 192vh;
left: 22vw;
z-index: 3;
height: 98vh;
}

.cancel-project{
    display: none;
}


/* access cancel button once you hover over project card */
#project-two-images:has(img:hover) .cancel-project {
    display: block;
    z-index: 4;
    position: absolute;
    top: 198vh;
    left: 90vw;
    color: #000;
    background: #fff;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px 15px;
}


#project-two-images img:hover{
 width: 85vw;
}

/* footer element */
footer{
    padding: 10px 0; 
    position: relative; 
    bottom: 0; 
    width: 82%; 
    margin-left: 19vw;
}

#contact-footer{
    position: relative;
    left: -10rem;
    bottom: 0;
    width: 100vw;
    margin-top: 2rem;
}

/* @media (max-width: 480px){
    aside{
        display: none;
    }
} */